<% if update = pending_daily_update %>
  <% missing = update.after_cutoff? %>
  <div class="daily-update-banner <%= missing ? "daily-update-banner--missing" : "daily-update-banner--due" %>" role="status">
    <span>
      <% if missing %>
        Your daily update is missing.
      <% else %>
        Your daily update is due today by <%= format("%02d:00", Current.account.daily_update_cutoff_hour) %>.
      <% end %>
    </span>
    <%= link_to "Post update", daily_update_path, class: "btn btn--reversed txt-small" %>
  </div>
<% end %>
